.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
  padding-bottom: 50px;
  background: linear-gradient(90.21deg, #aa367c -5.91%, #4a2fbd 111.58%);
  @media screen and (max-width: 1200px) {
    grid-template-columns: 1fr;
  }
  .img {
    padding: 50px;
    img {
      display: block;
      margin: auto;
      width: 80%;
    }
  }
  h1 {
    padding: 10px 0 20px 0;
    font-size: 3rem;
    font-weight: 500;
    color: white;
    text-align: center;
  }
  form {
    padding: 0 20px 0 0;
    .line {
      input {
        width: 48%;
      }
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: 1200px) {
        flex-direction: column;
        align-items: center;
        input {
          width: 80%;
        }
      }
    }
    @media screen and (max-width: 1200px) {
      display: flex;
      flex-direction: column;
      textarea {
        width: 80% !important;
        margin: 0 auto;
      }
    }
    textarea {
      width: 100%;
    }
    input,
    textarea {
      background: rgba(255, 255, 255, 0.1);
      margin-bottom: 25px;
      border: none;
      color: white;
      padding: 20px 0 20px 20px;
      border-radius: 30px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      &::placeholder {
        color: white;
      }
      &:focus {
        outline: none;
      }
    }
    button {
      background-color: white;
      color: black;
      border: 1px solid black;
      width: 30%;
      height: 55px;
      font-weight: bold;
      font-size: large;
      position: relative;
      z-index: 1;
      &:hover {
        color: white !important;
      }
      &:before {
        content: "";
        background-color: black;
        position: absolute;
        width: 0%;
        left: 0;
        top: 0;
        height: 100%;
        transition: 0.3s ease-in-out;
        z-index: -1;
      }
      &:hover:before {
        width: 100%;
      }
    }
    .success {
      color: rgb(38, 189, 38);
    }
    .error {
      color: red;
    }
  }
}
